*{
    margin:0;
    padding:0;
}
/* --------------------------- HEADER ---------------------------- */
#main-header{
    height:9em;
    background: rgb(55, 148, 255) url("../img/pattern.png") ;
    background-size: 39em;
    background-position: 102px -13px;
    position:relative;
}
#main-logo{
    position: absolute;
    bottom: 0;
    left:0;
    width:18em;
    margin:0 0 1em 0.5em;
}
